[settings]
profile=black
multi_line_output=3
line_length=110
01a0d77e-3d2c-7fb9-bd64-bddcd0523152
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3OTA3NTYwNjcsImlzcyI6InByaXNtYSIsImF1ZCI6InByaXNtYV91c2VycyIsImp0aSI6IkJwbDBaS2RqdWJkTDRjZFkwMFhSV0k5eEt2Y3NFdHhObFlKeXdSUEFZWFU9IiwibmJmIjoxNzkwNzU2MDY3LCJleHAiOjE3OTA3NTk2NjcsInN1YiI6IjAxYTBkNzdlLTNkMmMtN2ZiOS1iZDY0LWJkZGNkMDUyMzE1MiIsInR5cGUiOiJhY2Nlc3MiLCJlbWFpbCI6ImFkbWluQGFkbWluLmNvbSJ9.T8-a3oCWoKfwIG48WFLBfwDIH9HHxrsSAGD3j5GYz4Y